<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="bootstrap/css/bootstrap.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"
    /></noscript>
    <link href="static/stylesheets/style.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="static/stylesheets/style.css"
    /></noscript>
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png" />
    <link rel="manifest" href="static/site.webmanifest" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="app-title text-center pt-2">
        <div>React To-do App</div>
    </div>
    <div id="app"></div>
    <script type="text/javascript" src="static/bundle.js" charset="utf-8"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>